.sticky-links{
    width: 50px;
    background-color: #ccc;

    position:fixed;
    right: 0;
    top: 20%;
    
    .link-item{
    transform:rotate(90deg);
    padding-top: 50px;
    padding-bottom: 60px;
    }
}