<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Meme Generator</title>
</head>

<body>

    <div class="side-menu">
        <div class="menu-nav">
          <p class="link-item">J</p>
          <p class="link-item">K</p>
          <p class="link-item">L</p>
        </div>
      </div>



  <div class="container">
    <div class="grid">
        <div class="grid-item">
            <img src="img/01.jpg">
            <div class="grid-item__row">
              <p class="grid-item__points">178 points</p>
              <p class="grid-item__share"><img src="img/icon-share.svg"></p>
            </div>
            <div class="grid-item__row">
              <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
              <p class="grid-item__time">5h</p>
            </div>  
        </div>
        <div class="grid-item">
            <img src="img/02.jpg">
            <div class="grid-item__row">
              <p class="grid-item__points">178 points</p>
              <p class="grid-item__share"><img src="img/icon-share.svg"></p>
            </div>
            <div class="grid-item__row">
              <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
              <p class="grid-item__time">5h</p>
            </div>  
        </div>
        <div class="grid-item">
            <img src="img/03.jpg">
            <div class="grid-item__row">
              <p class="grid-item__points">178 points</p>
              <p class="grid-item__share"><img src="img/icon-share.svg"></p>
            </div>
            <div class="grid-item__row">
              <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
              <p class="grid-item__time">5h</p>
            </div>  
        </div>
        <div class="grid-item">
            <img src="img/04.jpg">
            <div class="grid-item__row">
              <p class="grid-item__points">178 points</p>
              <p class="grid-item__share"><img src="img/icon-share.svg"></p>
            </div>
            <div class="grid-item__row">
              <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
              <p class="grid-item__time">5h</p>
            </div>  
        </div>
        <div class="grid-item">
            <img src="img/05.jpg">
            <div class="grid-item__row">
              <p class="grid-item__points">178 points</p>
              <p class="grid-item__share"><img src="img/icon-share.svg"></p>
            </div>
            <div class="grid-item__row">
              <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
              <p class="grid-item__time">5h</p>
            </div>  
        </div>
        <div class="grid-item">
            <img src="img/06.jpg">
            <div class="grid-item__row">
              <p class="grid-item__points">178 points</p>
              <p class="grid-item__share"><img src="img/icon-share.svg"></p>
            </div>
            <div class="grid-item__row">
              <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
              <p class="grid-item__time">5h</p>
            </div>  
        </div>
  
    </div>

    <!--
    <div class="row grid">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="grid-item">
          <img src="img/01.jpg">
          <div class="grid-item__row">
            <p class="grid-item__points">178 points</p>
            <p class="grid-item__share"><img src="img/icon-share.svg"></p>
          </div>
          <div class="grid-item__row">
            <div class="grid-item__profile"><div class="profile__image"></div>Adnan Hamidovic</div>
            <p class="grid-item__time">5h</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="grid-item">
          <img src="img/02.jpg">
          <div class="grid-item__row">
            <p class="grid-item__points">178 points</p>
            <p class="grid-item__share"><img src="img/icon-share.svg"></p>
          </div>
          <div class="grid-item__row">
            <div class="grid-item__profile"><div class="profile__image"></div>Muharem Serbezovski</div>
            <p class="grid-item__time">5h</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="grid-item">
          <img src="img/03.jpg">
          <div class="grid-item__row">
            <p class="grid-item__points">178 points</p>
            <p class="grid-item__share"><img src="img/icon-share.svg"></p>
          </div>
          <div class="grid-item__row">
            <div class="grid-item__profile"><div class="profile__image"></div>Naser Orić</div>
            <p class="grid-item__time">5h</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="grid-item">
          <img src="img/04.jpg">
          <div class="grid-item__row">
            <p class="grid-item__points">178 points</p>
            <p class="grid-item__share"><img src="img/icon-share.svg"></p>
          </div>
          <div class="grid-item__row">
            <div class="grid-item__profile"><div class="profile__image"></div>Luciano</div>
            <p class="grid-item__time">5h</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="grid-item">
          <img src="img/05.jpg">
          <div class="grid-item__row">
            <p class="grid-item__points">178 points</p>
            <p class="grid-item__share"><img src="img/icon-share.svg"></p>
          </div>
          <div class="grid-item__row">
            <div class="grid-item__profile"><div class="profile__image"></div>Laki</div>
            <p class="grid-item__time">5h</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="grid-item">
          <img src="img/06.jpg">
          <div class="grid-item__row">
            <p class="grid-item__points">178 points</p>
            <p class="grid-item__share"><img src="img/icon-share.svg"></p>
          </div>
          <div class="grid-item__row">
            <div class="grid-item__profile"><div class="profile__image"></div>Alija Izetbegovic</div>
            <p class="grid-item__time">5h</p>
          </div>
        </div>
      </div>
    </div>
  -->
  </div>

  <div class="sticky-links">
    <p class="link-item">Facebook</p>
    <p class="link-item">Instagram</p>
    <p class="link-item">Twitter</p>
  </div>



  <script type="text/javascript" src="js/script.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>